.traller{
    text-align: center;
    min-height: 100vh;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}

.traller-item{
    margin-top: 20px;
}

.traller-item iframe{
    border: 2px solid #fd7337;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media (max-width:739px) {
    .traller-item iframe{
        width: 90%;
    }
}